
body {
  --background-color-dark: rgb(102, 102, 102);
  margin: 0;
  padding: 0;
  background: var(--background-color-dark);
}

.App {
  height: 100%;
  background: var(--background-color-dark);
}

/* button {
  margin: 4rem;
  background: rgb(44, 44, 44);
  color: white;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background 0.2s ease-out;
}

button:hover {
  background: black;
}  */

.App button {
  margin: 4rem;
  background: rgb(44, 44, 44);
  color: white;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background 0.2s ease-out;
}

.App {
  --red: red;
  --red-dark: rgb(155, 0, 0);
  --green: green;
  --green-dark: rgb(0, 95, 24);
}

.App button.critical {
  background: var(--red);
  transition: background 0.2s linear;
}

.App button.critical:hover {
  background: var(--red-dark);
}

.App button.ok {
  background: var(--green);
  transition: background 0.2s linear;
}

.App button.ok:hover {
  background: var(--green-dark);
}

@media screen and (min-width:10px) {
  .App button.ok:hover {
    background: purple;
  }
}